/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200,300,400,500,600,700&display=swap');
*{
    font-family: "Poppins",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
/*Some Variables*/
:root {
    --main-color: #ff2c1f;
    --text-color: #020307;
    --bg-color: #fff;
}
body{
    background: var(--text-color);
    color: var(--bg-color);
}
section{
   padding: 4.5rem 0 1.5rem; 
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
    color: var(--bg-color);
    /*background-color: var(--main-color);
    */
}
/*left column contact details*/
.navigation-wrapper > .left-column{
    display:flex;
    align-items: center;  
  }
  
  .navigation-wrapper > .left-column > .contact-hours-wrapper{
      color: grey; 
      display: grid;
      /*grid works the same as a matrix of blocks*/
      grid-template-columns: 1fr;
   }
   .navigation-wrapper > .left-column > .contact-hours-wrapper > .hours {
      font-family: 'Ubuntu Condensed', sans-serif;
      color: #858585 ;
      font-size: 0.8em;
   }
  
   .navigation-wrapper > .left-column > .icon{
      margin-right: 15px;
  }
  
  .navigation-wrapper > .left-column > .icon i{
      font-size: 2em;
  }
  .navigation-wrapper > .left-column > .icon a {
    color: #858585;
    text-decoration: none ;
    font-size: 0.9em;
    transition: 0.5s;
}
.navigation-wrapper > .left-column > .icon a:hover{
    color: var(--main-color);
   
}
.navigation-wrapper > .left-column > .contact-hours-wrapper a{
    color: #cbcbcb;
    transition: 0.5s;
}
.navigation-wrapper > .left-column > .contact-hours-wrapper a:hover{
    color: var(--main-color);
   
}
  
.logo{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--bg-color) ;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.logo .bx{
    font-size: 24px;
    color: var(--main-color);
}

.navbar{
    display: flex;
    column-gap: 5rem;
}
.navbar li{
   position: relative; 
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}
.navbar a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}
.navbar a:hover::after,
.navbar .home-active::after{
    width:100%;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
}
/*right column email details*/

.navigation-wrapper > .right-column {
    display: flex;
    align-items: center;
}
.navigation-wrapper > .right-column > .email-wrapper{
font-family: 'Ubuntu Condensed', sans-serif;
text-align: right;
color: khaki;
}
.navigation-wrapper > .right-column > .email-wrapper a {
    color: #858585;
    text-decoration: none ;
    font-size: 0.9em;
    transition: 0.5s;
}
.navigation-wrapper > .right-column > .email-wrapper a:hover {
    color: var(--main-color);
}
.navigation-wrapper > .right-column > .contact-icon{
margin-left: 15px;
font-size: 2em;
}
.navigation-wrapper > .right-column > .contact-icon a{
    color: #cbcbcb;
    transition: 0.5s;
}
.navigation-wrapper > .right-column > .contact-icon a:hover{
    color: var(--main-color);
   
}

.btn{
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
    object-position: center;
    
}
.btn:hover{
 background: #fa1216;
}

/*Sliders*/
.container{
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgb(2,3,7,0.4);
    box-sizing: border-box;
}
.container img{
    position: absolute;
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
   
}
.swiper-pagination-bullet{
    width: 6xp !important;
    height: 6xp !important;
    border-radius: 0.2rem !important;
    background: var(--bg-color) !important;
    opacity: 1 !important ;
}
.swiper-pagination-bullet-active{
    width: 1.5rem !important;
    background: var(--main-color) !important;
}
.home-text{
    z-index: 1000;
    padding: 0 150px;
}
.home-text span{
    color: var(--bg-color);
    font-weight: 500;
    text-transform: uppercase;
}
.home-text h1{
    color: var(--bg-color);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    
}

/*h2*/
.heading{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--main-color);
}
.movies-container{
    max-width: 968px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
/*second images*/
.box .box-img{
    width: 100%;
    height: 270px
}
.box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box .box-img img:hover{
transform: translateY(-10px);
transition: 0.2s all linear;
}
.box h3{
    font-size: 0.9rem;
    font-weight: 500;
}
.box span{
    font-size: 13px;
}
.coming-container{
    display:grid;
    gap:1rem;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.coming-container .box-img img:hover{
   transform: translateY(0); 
}
.coming-container .box{
    width: 100px;
}

